<template name="Home">
<head>
  <title>Contact</title>
</head>

<body>
  {{> hello}}
  {{> searchBox}}

</body>



</template>


<template name="hello">
 
 <div class="row">
  <h1 class="col-md-2 col-md-offset-5">Contact</h1>
  <div class="col-md-2 col-md-offset-5">{{> loginButtons}}</div>
 </div>
</template>


	<!-- CA liste tous les users -->
<!-- 	{{#each utilisateur}}  
		{{username}}
	{{/each}}  -->
<template name="searchBox">
    {{> esInput index="users" placeholder="Chercher un user" }}

    <ul>
        {{#esEach index="users"}}
            <li>Nom de l'utilisateur : <a href='/user/{{_id}}'>{{username}}</a></li>
        {{/esEach}}
    </ul>
</template>
