<template name="Home">
<head>
  <title>Contact</title>
</head>

<body>
  {{> hello}}
  {{> searchBox}}
  {{> ajout}}

</body>



</template>


<template name="hello">
 
 <div class="row">
  <h1 class="col-md-2 col-md-offset-5">Contact</h1>
  <div class="col-md-2 col-md-offset-5">{{> loginButtons}}</div>
 </div>
</template>

<template name="ajout">
	<!-- ajout d'un contact -->
  <form class="new-contact">
    <input type="text" name="nom" placeholder="NOM" />
    <input type="mail" name="mail" placeholder="MAIL" />
     <input type="submit" value="Submit">
  </form>
</template>

<template name="searchBox">
	<!-- instant searchbox -->

    {{> esInput index="users" placeholder="Chercher un user" }}

    <ul>
        {{#esEach index="users"}}
            <li>Nom de l'utilisateur : <a href='/user/{{_id}}'>{{username}}</a></li>
        {{/esEach}}
    </ul>
</template>
