<template name="Home">
<head>
  <title>Répertoire de contacts</title>
</head>

<body>
  <div class="container">
    {{> hello}}
 
    {{> ajout}}

    <!-- si l'user est connecté on affiche sa liste -->
    {{#if currentUser}}
    {{> liste}}
    {{/if}}

     {{> searchBox}}
  </div>
  
</body>



</template>


<template name="hello">
 
 <div class="row">
  <h1 class="text-center">Répertoire de contacts</h1>
  <div class="login btn btn-primary">{{> loginButtons}}</div>
  <a href="#">Ajouter un contact</a>
  
 </div>
</template>

<template name="ajout">
	<!-- ajout d'un contact -->
  <form class="new-contact">
    <input required type="text" name="nom" placeholder="NOM" />
    <input required type="email" name="mail" placeholder="MAIL" />
     <input type="submit" value="Submit">
  </form>
</template>

<template name="searchBox">
  <!-- instant searchbox -->

    {{> esInput index="contacts" placeholder="Chercher un contact" }}

    <ul>
        {{#esEach index="contacts"}}
            <li>Nom du contact : <a href='/user/{{_id}}'>{{nom}}</a></li>
        {{/esEach}}
    </ul>
      {{#ifEsHasNoResults index="contacts"}}
        <div class="no-results">Aucun résultat</div>
    {{/ifEsHasNoResults}}
</template>

<template name="liste">


  {{#if contact}} <!-- si il a des contacts -->
    {{#each contact}}   
     <a href="user/{{_id}}"> Nom :  {{nom}}
      Mail :  {{mail}}</a>      
      <button class="delete">&times;</button>
      <br>
     {{/each}}
  {{else}}
  Vous n'avez pas de contacts
  {{/if}}
</template>
